###### Installation Softwares
1. mySQL
2. mySQL Workbench 
3. pip3 install mysql-connector

###### Import mysql.connector and connect to DB with Credentials

In [1]:
import mysql.connector as conn

myDB = conn.connect(
    host='localhost',
    user='rdadmin@localhost',
    passwd='rdadmin',
#     user='root',
#     passwd='root',
    database='rddb'
)

print(myDB)

<mysql.connector.connection.MySQLConnection object at 0x0000014812CF8518>

###### Show tables in the 'rddb' Database

In [2]:
myCursor = myDB.cursor()

myCursor.execute('show tables')
for i in myCursor:
    print(i)

('customer',)

###### Select existing records from Customer table

In [4]:
myCursor = myDB.cursor()

myCursor.execute('select * from Customer')
for i in myCursor:
    print(i)

('Rohan', 'Deshpande', 1)
('Aniket', 'Atram', 2)
('Shrikant', 'Dharmadhikari', 3)
('Akhilesh', 'Dhages', 4)
('Rishi', 'Deshmukh', 5)
('John', 'Doe', 8)
('Kate', 'Beckett', 9)
('Damon', 'Salvatore', 10)

###### Insert data into Customer table

In [55]:
#  %s are placeholders
sqlQuery = "INSERT INTO CUSTOMER(custID,firstName,lastName) VALUES(%s,%s,%s)"
cust2 = (6,'Viraj','Deshpande')
cust3 = (7,'Rajashri','Deshpande')

myCursor.execute(sqlQuery,cust2)
myCursor.execute(sqlQuery,cust3)

# Execute as many times as needed but dont forget to commit otherwise it wont be saved
myDB.commit()

In [56]:
# %s is placeholders - No need for key as auto_increment
sqlQuery = "INSERT INTO CUSTOMER(firstName,lastName) VALUES(%s,%s)"
cust2 = ('Ruchita','Deshpande')

myCursor.execute(sqlQuery,cust2)

# Execute as many times as needed but dont forget to commit otherwise it wont be saved
myDB.commit()

###### Read data from DB - fetchone(1st row) or fetchall

In [3]:
myCursor.execute('select * from Customer')
resultSet = myCursor.fetchall()
for i in resultSet:
    print(i)

('Rohan', 'Deshpande', 1)
('Aniket', 'Atram', 2)
('Shrikant', 'Dharmadhikari', 3)
('Akhilesh', 'Dhages', 4)
('Rishi', 'Deshmukh', 5)
('Katherine', 'Beckett', 9)
('Damon', 'Salvatore', 10)

In [58]:
myCursor.execute('select * from Customer')
resultSet = myCursor.fetchone()
print(resultSet)

('Rohan', 'Deshpande', 1)

###### Insert multiple values into the DB - executemany - didnt work

In [70]:
# %s is placeholders - No need for key as auto_increment
sqlQuery = "INSERT INTO CUSTOMER(custID,firstName,lastName) VALUES(%s,%s,%s)"
custList = [ (8,"John","Doe"),(9,"Kate","Beckett"), (10,"Damon","Salvatore"), ]

myCursor.executemany(sqlQuery,custList)

# Execute as many times as needed but dont forget to commit otherwise it wont be saved
myDB.commit()

# myCursor.execute('select * from Customer')
# resultSet = myCursor.fetchall()
# for i in resultSet:
#     print(i)

[(8, 'John', 'Doe'), (9, 'Kate', 'Beckett'), (10, 'Damon', 'Salvatore')]
-- [(8, 'John', 'Doe'), (9, 'Kate', 'Beckett'), (10, 'Damon', 'Salvatore')]

###### Select with where clause

In [69]:
print('b4 : ', myCursor.rowcount)
myCursor.execute("select * from Customer where lastName like 'Desh%'")
print('after : ', myCursor.rowcount)
resultSet = myCursor.fetchall()
print('rs : ', resultSet)
for i in resultSet:
    print(i)

b4 :  2
after :  -1
rs :  [('Rohan', 'Deshpande', 1), ('Rishi', 'Deshmukh', 5)]
('Rohan', 'Deshpande', 1)
('Rishi', 'Deshmukh', 5)

###### Update data in our DB

In [8]:
sqlQuery = "UPDATE CUSTOMER SET firstName='Katherine' WHERE custID = 9"

myCursor.execute(sqlQuery)

myDB.commit()

myCursor.execute('select * from Customer where custID = 9')
resultSet = myCursor.fetchone()
print(resultSet)

('Katherine', 'Beckett', 9)

###### Limiting the no. of records - LIMIT

In [9]:
myCursor.execute('select * from Customer LIMIT 5')
resultSet = myCursor.fetchall()
print(resultSet)

[('Rohan', 'Deshpande', 1), ('Aniket', 'Atram', 2), ('Shrikant', 'Dharmadhikari', 3), ('Akhilesh', 'Dhages', 4), ('Rishi', 'Deshmukh', 5)]

###### First 5 values in offsets - OFFSET

In [10]:
myCursor.execute('select * from Customer LIMIT 5 OFFSET 2')
resultSet = myCursor.fetchall()
print(resultSet)

[('Shrikant', 'Dharmadhikari', 3), ('Akhilesh', 'Dhages', 4), ('Rishi', 'Deshmukh', 5), ('John', 'Doe', 8), ('Katherine', 'Beckett', 9)]

###### Order our results - Order By

In [13]:
myCursor.execute('select * from Customer ORDER BY firstName DESC')
resultSet = myCursor.fetchall()
print(resultSet)

[('Shrikant', 'Dharmadhikari', 3), ('Rohan', 'Deshpande', 1), ('Rishi', 'Deshmukh', 5), ('Katherine', 'Beckett', 9), ('John', 'Doe', 8), ('Damon', 'Salvatore', 10), ('Aniket', 'Atram', 2), ('Akhilesh', 'Dhages', 4)]

###### Delete record

In [14]:
sqlQuery = "DELETE FROM CUSTOMER WHERE custID = 8"

myCursor.execute(sqlQuery)

myDB.commit()

myCursor.execute('select * from Customer ORDER BY firstName DESC')
resultSet = myCursor.fetchall()
print(resultSet)

[('Shrikant', 'Dharmadhikari', 3), ('Rohan', 'Deshpande', 1), ('Rishi', 'Deshmukh', 5), ('Katherine', 'Beckett', 9), ('Damon', 'Salvatore', 10), ('Aniket', 'Atram', 2), ('Akhilesh', 'Dhages', 4)]

###### Drop a table

In [20]:
myCursor.execute('SHOW TABLES')
resultSet = myCursor.fetchall()
print('B4 : ', resultSet)

sqlQuery = "DROP TABLE IF EXISTS tab"

myCursor.execute(sqlQuery)

myDB.commit()

myCursor.execute('SHOW TABLES')
resultSet = myCursor.fetchall()
print('After : ', resultSet)

B4 :  [('customer',), ('tab',)]
After :  [('customer',)]